<p id="notice"><%= notice %></p>

<p>
  <strong>
  <%= @ripple.name %> said:
  </strong>
</p>

<p class="message">
  <strong>
  <%= @ripple.message %>
  </strong>
</p>

<%= link_to 'Back', ripples_path %>
