// Place all the styles related to the Ripples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message {
  padding: 0em 0em 0em 2em;
  display: block;
  line-height: 100%;
  font-size: 20pt;
  font-family: "Serif";
  animation: 10s 0.5s pulse infinite;
}

@keyframes pulse {
  0%, 100% {
    text-shadow: 1px 1px #FFFFFF;
    color: black;
    background-color: white;
  }
  
  50% {
    text-shadow: 1px 1px #FFFFFF;
    color: white;
    background-color: #2061F9;
  }
  
  25%, 75% {
    color: white;
    text-shadow: none;
    background-color: #1030FC;
  }
}

